[Unit]
Description=tmux with minicom for serial-over-lan
After=syslog.target

[Service]
ExecStart=/libexec/start-tmux
ExecStop=/usr/bin/tmux kill-server
StandardOutput=syslog
Type=oneshot
RemainAfterExit=yes
KillMode=none

[Install]
WantedBy=multi-user.target
