[Unit]
Description=Allow Host Boot
After=mcst-fruid.service

[Service]
ExecStart=/libexec/allow_host_boot
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=basic.target
