[Unit]
Description=Sensor instantiator for phosphor-hwmon
After=systemd-udevd.service
After=mcst-fruid.service

[Service]
ExecStartPre=/bin/mkdir -p /var/volatile/hwmon
ExecStartPre=/bin/ln -sf /var/volatile/hwmon /etc/default/obmc/hwmon
ExecStart=/sbin/hwmon-instantiator start
ExecStop=/sbin/hwmon-instantiator stop
Type=oneshot
RemainAfterExit=yes
