[Unit]
Description=Set MAC address according to FRU ID data
After=mcst-fruid.service

[Service]
ExecStart=/libexec/set_mac
Type=oneshot
RemainAfterExit=yes
StandardError=journal+console

[Install]
WantedBy=network.target
