[Unit]
Description=Unconditionally Stop Host
Conflicts=obmc-host-startmin@0.target

[Service]
Type=oneshot
ExecStart=/usr/bin/host off hard
SyslogIdentifier=buttonscripts
