[Unit]
Description=Stop Host
Conflicts=obmc-host-startmin@0.target

[Service]
Type=oneshot
ExecStart=/usr/bin/host off
SyslogIdentifier=buttonscripts
