[Unit]
Description=Set host state
After=xyz.openbmc_project.State.Host@0.service

[Install]
WantedBy=multi-user.target

[Service]
Restart=always
Type=simple
ExecStart=/usr/bin/setpowerstate
SyslogIdentifier=buttonscripts
