[Unit]
Description=Start Host
Conflicts=obmc-chassis-poweroff@0.target.requires host-poweroff-hard.service host-poweroff.service host-reset.service

[Service]
Type=oneshot
ExecStart=/usr/bin/host on
SyslogIdentifier=buttonscripts
