[Unit]
Description=Read RTC from motherboard
After=mcst-fruid.service

[Service]
Type=oneshot
ExecStart=/libexec/rtcread
RemainAfterExit=yes

[Install]
WantedBy=time-set.target
