# Example network configuration script.

# To set up network: uncomment and edit required fields.

# If a variable is not defined here, network will be configured
# with pre-defined default values
# (see /usr/local/fbpackages/netconf/netconf_script.sh).

#ETH0_ENABLED=yes
#ETH1_ENABLED=no

#MAC0=98:a7:b0:10:00:f0
#MAC1=98:a7:b0:10:00:f1

#IP0=10.0.0.10/8
#IP1=172.16.10.1/16

#GW0=10.0.0.1
#GW1=172.16.0.1
