[Unit]
Description=Start Host
Conflicts=obmc-chassis-poweroff@0.target

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/bin/env server_pwr_on
ExecStart=/usr/bin/env server_watchdog_reset
SyslogIdentifier=buttonscripts

[Install]
WantedBy=obmc-chassis-poweron@0.target
