[Unit]
Description=Stop Host
Conflicts=obmc-chassis-poweron@0.target

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/bin/env server_pwr_off
SyslogIdentifier=buttonscripts

[Install]
WantedBy=obmc-chassis-poweroff@0.target
