[Unit]
Description=Reset Host
Conflicts=obmc-chassis-poweroff@0.target.requires host-poweroff-hard.service host-poweroff.service host-poweron.service 

[Service]
Type=oneshot
ExecStart=/usr/bin/env host reset
SyslogIdentifier=buttonscripts
