[Unit]
Description=Stop Host
Conflicts=host-poweroff-hard.service host-poweron.service host-reset.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env host off
SyslogIdentifier=buttonscripts
