// SPDX-License-Identifier: GPL-2.0+

&i2c4 {
	eeprom@57 {
		compatible = "atmel,24c128";
		reg = <0x57>;
		label = "module-FRUID";
	};

	mcp7940@6f {
		compatible = "microchip,mcp7940x";
		reg = <0x6f>;
		label = "module";
	};
};
